<section id="portfolio">
    <!-- <div class="container"> -->
        <div class="row">
            <ul class="portfolio-filter text-center">
              <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#largeModal">Vancouver</a></li>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
              </div>
              <div class="modal-body">
                <h3>Modal Body</h3>
              </div>
            </div>
          </div>
        </div>
        <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#largeModal">Montreal</a></li>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
              </div>
              <div class="modal-body">
                <h3>Modal Body</h3>
              </div>
            </div>
          </div>
        </div>
        <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#largeModal">Davidson</a></li>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
              </div>
              <div class="modal-body">
                <h3>Modal Body</h3>
              </div>
            </div>
          </div>
        </div>
        <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#largeModal">Spain</a></li>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
              </div>
              <div class="modal-body">
                <h3>Modal Body</h3>
              </div>
            </div>
          </div>
        </div>
        <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#largeModal">Holland</a></li>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
              </div>
              <div class="modal-body">
                <h3>Modal Body</h3>
              </div>
            </div>
          </div>
        </div>
        <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#largeModal">Italy</a></li>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
              </div>
              <div class="modal-body">
                <h3>Modal Body</h3>
              </div>
            </div>
          </div>
        </div>
      </ul>
