<section id="portfolio">
    <!-- <div class="container"> -->
        <div class="row">
            <ul class="portfolio-filter text-center">
          <!-- Button trigger modal -->
          <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#myModal">
            Vancouver
          </a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vancouver</h4>
                  </div>
                  <div class="modal-body">
                    This is where I grew up and began playing basketball.
                    <%=image_tag("kits.png", class: "basketball-images") %>
                  </div>
                </div>
              </div>
            </div>

        <!-- Button trigger modal -->
          <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#myModal">
            Montreal
          </a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vancouver</h4>
                  </div>
                  <div class="modal-body">
                    This is where I grew up and began playing basketball.
                  </div>
                </div>
              </div>
            </div>
        <!-- Button trigger modal -->
          <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#myModal">
            Davidson
          </a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vancouver</h4>
                  </div>
                  <div class="modal-body">
                    This is where I grew up and began playing basketball.
                  </div>
                </div>
              </div>
            </div>
        <!-- Button trigger modal -->
          <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#myModal">
            Spain
          </a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vancouver</h4>
                  </div>
                  <div class="modal-body">
                    This is where I grew up and began playing basketball.
                  </div>
                </div>
              </div>
            </div>
        <!-- Button trigger modal -->
          <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#myModal">
            Holland
          </a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vancouver</h4>
                  </div>
                  <div class="modal-body">
                    This is where I grew up and began playing basketball.
                  </div>
                </div>
              </div>
            </div>
        <!-- Button trigger modal -->
          <li><a href="#" class="btn btn-default active" data-toggle="modal" data-target="#myModal">
            Italy
          </a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Vancouver</h4>
                  </div>
                  <div class="modal-body">
                    This is where I grew up and began playing basketball.
                  </div>
                </div>
              </div>
            </div>
      </ul>
