<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contact</h2>
                        <address>
                        E-mail: <a href="mailto:nikcochran@gmail.com">nikcochran@gmail.com</a> <br> 
                                <a href="mailto:nerdvestor@gmail.com">nerdvestor@gmail.com</a> <br> 
                        
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Address</h2>
                        <address>
                        Vancouver, BC, Canada <br> 
                        </address>
                    </div>
                </div>              
<%= render "contacts/form" %>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Nik Cochran 2017. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="https://github.com/NikValdez">Nik Cochran</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->