<section id="portfolio">
    <!-- <div class="container"> -->
        <div class="row">
            <ul class="portfolio-filter text-center">
          <!-- Button trigger modal -->
          <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="Hello">Vancouver</a></li>

          <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="This is where I grew up and began playing basketball">Montreal</a></li>

          <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="This is where I grew up and began playing basketball">Davidson</a></li>

          <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="This is where I grew up and began playing basketball">Spain</a></li>

          <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="This is where I grew up and began playing basketball">Holland</a></li>

           <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="This is where I grew up and began playing basketball">Italy</a></li>
            </div>
      </ul>




<script>
$(function () {
  $('[data-toggle="popover"]').popover({trigger: "hover"})
})
</script>

