<script>
$(function () {
  $('[data-toggle="popover"]').popover({trigger: "hover"})
})
</script>
<div class="row">
    <ul class="portfolio-filter text-center">
  <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Vancouver" data-content="I grew up and began playing basketball in Vancouver around the 6th grade. Prior to this, I had focused primarily on Hockey, Soccer, and Baseball. During high school basketball became an obsession often practicing upwards of six hours a day.">Vancouver</a></li>

  <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Montreal" data-content="After high school, I moved to Montreal to attend a school called Champlain St Lambert. In Quebec, this is known as a CEGEP and is an intermediate step between high school and university. In the US this would be equivalent to a mix between a prep school and a junior college. Champlain was a great opportunity for me to develop further as a player and gain another level of mental toughness in preparation for the rigors of division one basketball.">Montreal</a></li>

  <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Davidson" data-content="Playing basketball at Davidson was one of the great honors of my life. Having the chance to play for who I consider the greatest coach in the country in Bob McKillop is something that I'm forever grateful for. During my time there we made two NCAA tournament appearances and I was lucky enough to be named to two all-conference teams. On and off the court my years at Davidson were some of my favorite years lived.">Davidson</a></li>

  <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Spain" data-content="My first year playing basketball professionally I was fortunate to land on a team in Barcelona called Joventut de Badalona. This could not have been a better place to start a professional career as the team plays in the ACB one of Europe's top leagues. Living just outside one of the great world cities was amazing as I got to experience the Catalonian culture all while getting paid to play a game.">Spain</a></li>

  <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Holland" data-content="The first practice after arriving in Holland I hurt my back. After a couple weeks of attempting to rehab and make my return. The team decided to cut my contract and said they would not be honoring what they owed me for the year. Not taking this lying down I hired a lawyer and began a month long process that ended up in a settlement. Although basketball was disappointing, Holland was a great place to live.">Holland</a></li>

   <li><a class="btn btn-default active" data-toggle="popover" data-placement="top" title="Italy" data-content="The final stop in my basketball career was Italy and a small town in Sicily. This was a beautiful place to live right on the coast a couple hours away from any major city. Getting to see Rome, Milan, and several other major Italian cities during away games was unforgettable as the history of these places is so rich. Despite some issues with management and unfulfilled promises I thoroughly enjoyed my time in Italy.">Italy</a></li>
    </div>
</ul>



