
<div class="portfolio-items">
<div class="col-sm-6 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <!-- <div class="portfolio-thumb"> -->
                <iframe width="550" height="300" src="https://www.youtube.com/embed/X5etBoimQMU?rel=0" frameborder="0" allowfullscreen></iframe> 
            </div>
        </div>
       <a href="#" data-toggle="modal" data-target="#zagsModal">
        <div class="portfolio-info">
        <h2>Vs Gonzaga</h2>
          </a>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="zagsModal" tabindex="-1" role="dialog" aria-labelledby="zagsModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                 <iframe id="zagsVideo" width="600" height="360" src="https://www.youtube.com/embed/X5etBoimQMU?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>                  
<div class="col-sm-6 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <!-- <div class="portfolio-thumb"> -->
                <iframe width="550" height="300" src="https://www.youtube.com/embed/gAAjQoq_nbE?rel=0" frameborder="0" allowfullscreen></iframe>  
            </div>
        </div>
       <a href="#" data-toggle="modal" data-target="#kansasModal">
        <div class="portfolio-info">
        <h2>Vs Kansas</h2>
          </a>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="kansasModal" tabindex="-1" role="dialog" aria-labelledby="kansasModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <iframe id="kansasVideo" width="550" height="300" src="https://www.youtube.com/embed/gAAjQoq_nbE?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
 <div class="col-sm-6 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <!-- <div class="portfolio-thumb"> -->
                <iframe src="https://player.vimeo.com/video/28636773?title=0&byline=0&portrait=0" width="550" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
       <a href="#" data-toggle="modal" data-target="#sophmoreModal">
        <div class="portfolio-info">
        <h2>Sophmore year</h2>
          </a>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="sophmoreModal" tabindex="-1" role="dialog" aria-labelledby="sophmoreModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <iframe src="https://player.vimeo.com/video/28636773?title=0&byline=0&portrait=0" id="sophmoreVideo" width="550" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="col-sm-6 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <!-- <div class="portfolio-thumb"> -->
                <iframe width="550" height="300" src="https://www.youtube.com/embed/CERn7ftKQEM?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
       <a href="#" data-toggle="modal" data-target="#dsonModal">
        <div class="portfolio-info">
        <h2>Davidson Clips</h2>
          </a>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="dsonModal" tabindex="-1" role="dialog" aria-labelledby="dsonModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body"> 
                <iframe id="dsonVideo" width="550" height="300" src="https://www.youtube.com/embed/CERn7ftKQEM?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
 <div class="col-sm-6 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <!-- <div class="portfolio-thumb"> -->
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTwoPointsBball%2Fvideos%2F866447253368803%2F&show_text=0&width=560" width="550" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>
        </div>
       <a href="#" data-toggle="modal" data-target="#spainModal">
        <div class="portfolio-info">
        <h2>Spain</h2>
          </a>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="spainModal" tabindex="-1" role="dialog" aria-labelledby="spainModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTwoPointsBball%2Fvideos%2F866447253368803%2F&show_text=0&width=560" id="spainVideo" width="550" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="col-sm-6 portfolio-item branded logos">
    <div class="portfolio-wrapper">
        <div class="portfolio-single">
            <!-- <div class="portfolio-thumb"> -->
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTwoPointsBball%2Fvideos%2F10152125981509517%2F&show_text=0&width=560" width="550" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>
        </div>
       <a href="#" data-toggle="modal" data-target="#offenseModal">
        <div class="portfolio-info">
        <h2>Offense</h2>
          </a>
      </div>
      <!-- Modal -->
        <div class="modal fade" id="offenseModal" tabindex="-1" role="dialog" aria-labelledby="offenseModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTwoPointsBball%2Fvideos%2F10152125981509517%2F&show_text=0&width=560" id="offenseVideo" width="550" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>