<%= render 'shared/header'%>
<div class="container">
	<div class="contact">
	<h1><a class="link link--yaku" href="#">
 <span>T</span><span>h</span><span>a</span><span>n</span><span>k</span><span>'</span><span>s</span><span>&nbsp;</span><span>f</span><span>o</span><span>r</span><span>&nbsp;</span><span>t</span><span>h</span><span>e</span><span>&nbsp;</span><span>M</span><span>e</span><span>s</span><span>s</span><span>a</span><span>g</span><span>e</span>
</a></h1>
	<p>I'll get back to you when I have a minute.</p>
	<div id="contact-back-button">
		<%= link_to "Home", root_path, class: "button" %>
	</div>
	<%=image_tag("airplane.png", class: "airplane") %>
</div>
<div class="navbar navbar-fixed-bottom">
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Nik Cochran 2017. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="https://github.com/NikValdez">Nik Cochran</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
   </div>
